{% extends 'outline/base.html' %}
{% block title %}{{child.name}}'s Dashboard{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ child.name }}</h2>
    <p>{{ dashboard_header }}</p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#recent">Recent</a></li>
        <li><a data-toggle="tab" href="#stats">Graphs & Stats</a></li>
        <li><a data-toggle="tab" href="#vocabulary">Vocabulary</a></li>
        <li><a data-toggle="tab" href="#profile">Profile</a></li>
    </ul>

    <div class="tab-content">
        <div id="recent" class="tab-pane fade in active">
            <h3>Recent</h3>
            <hr>
            Stuff about recent activity.
        </div>


        <div id="stats" class="tab-pane fade">
            <h3>Graphs and Stats</h3>
            <hr>
            Stuff about graphs and stats.
        </div>

        <div id="vocabulary" class="tab-pane fade">
            <h3>Vocabulary</h3>
            <hr>
            Stuff about vocabulary
        </div>

        <div id="profile" class="tab-pane fade">
            <h3>Profile</h3>
            <hr>
            Stuff about profile.
        </div>


    </div>
</div>

{% endblock %}