{% extends 'outline/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ user }}</h2>
    <p>{{ dashboard_header }}</p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Friends</a></li>
        <li><a data-toggle="tab" href="#menu1">Ch</a></li>
        <li><a data-toggle="tab" href="#menu2">Wd</a></li>
        <li><a data-toggle="tab" href="#menu3">Msgs</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Permissions</h3>
            <hr>
            {% include 'outline/permissions_list.html' %}
        </div>


        <div id="menu1" class="tab-pane fade">
            <h3>Ch</h3>
            <hr>
            {% include 'outline/child_list.html' %}<hr>
        </div>


        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam.</p>
        </div>


        <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>


    </div>
</div>

{% endblock %}