{% extends 'outline/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="container">
    <h2>{{ user }}</h2>
    <p>{{ dashboard_header }}</p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1">Children</a></li>
        <li><a data-toggle="tab" href="#home">Friends</a></li>
        <li>
            <a data-toggle="tab" href="#messages">
                Requests&nbsp;
                <span class="badge">
                    {% if number_of_messages %}
                    {{ number_of_messages }}
                    {% endif %}
                </span>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade">
            <h3>Permissions</h3>
            <hr>
            {% include 'outline/snippets/permissions_list.html' %}
        </div>


        <div id="menu1" class="tab-pane fade in active">
            <h3>Children</h3>
            <hr>
            {% include 'outline/snippets/child_list.html' %}<hr>
        </div>

        <div id="messages" class="tab-pane fade">
            {% include 'outline/snippets/messages.html' %}<hr>
        </div>


    </div>
</div>

{% endblock %}