{% extends 'outline/base.html' %}

<!-- pass reference in context to item_list -->
<!-- Attributes for the "header"
    title
    subtitle
    intro_text -->
<!-- attributes for each item in item_list
    body
    link
    image -->
<!-- something like:
    for item in item_list:
        do something with item.header
        do something with item.image
        do something with item.body
        do something with item.link
<!-- pass reference in context to number_of_items -->

{% block body %}
<div class="container">

    <h1>{{ title }}</h1>
    <h4>{{ subtitle }}</h4>
    <p>{{ intro_text }}</p>
    {% if search_bar %}
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for user..." name="query">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
                </div>
        </div>
        </form><!-- /input-group -->
        <div class="col-md-6"></div>
    </div><!-- /.row -->
    {% endif %}
    <hr>

    <div class="container-fliud">

        {% for row in itemlist %}
        <div class="row">
            {% for item in row %}
            <div class="col-sm-{{ itemlist_col_width }}">
                {% if item.has_content %}
                <div class="well" style="background-color: #c4e4ff;">
                    {% if item.imgsrc %}
                    <img class="img-thumbnail" src="{{ item.imgsrc }}"><br>{% endif %}

                    {% if item.title %}
                        <h1 class="text-center" style="font-family: 'Righteous', serif;">{{ item.title }}</h1>
                    <hr>
                    {% endif %}

                    {% if item.text %}
                    <blockquote>{{ item.text|safe }}</blockquote>
                    {% endif %}

                    <form action="#" method="get">
                        <button type="submit" class="btn btn-primary btn-md" formaction="{{ item.link }}">
                            {% if item.link_text %}{{ item.link_text }}{% endif %}
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div><br>
</div>
{% endblock %}